body {
  font-family: "Courier New", Courier, monospace;
  font-weight: 800;
  max-width: 600px;
  margin: 0 auto;
  padding: 50px;
  background-size: cover;
  background-image: url(https://i.pinimg.com/1200x/e4/a9/4d/e4a94d4cd8008eede27d74e4d62f90d0.jpg)
  
}
.card {
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);          
  -webkit-backdrop-filter: blur(10px);  
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 12px;
  padding: 20px;
  align-items: center;
}
.row {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
  
}
button,
input {
  padding: 10px 20px;
  font-size: 1rem;
   border-radius: 12px;
}
input {
  flex: 1;
  min-width: 400px;
}
.time {
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 1px;
  margin: 12px 0;
}
.badge {
  padding: 6px 10px;
  border: 1px solid #333;
  border-radius: 999px;
}
ul {
  list-style: none;
  margin: 12px 0;
}
li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #eee;
  border-radius: 12px;
  padding: 10px;
  margin-bottom: 20px;
}
.done {
  text-decoration: line-through;
  opacity: 0.6;
}

